<div class="banner home-banner cocktail-banner">
  <div class="banner-content">
    <h1>Add A New Cocktail</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>What is the name your new cocktail ?</h3>
        <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>
</div>
